In [1]:
1+1

2

In [2]:
a=[1,2,3,4,5]

合計/データ数　をコンピュータに教えたい

In [11]:
s=0

s=s + 1
s=s + 2
s=s + 3
s=s + 4
s=s + 5


s

15

In [15]:
a=[1,2,3,4,5]

for p in a:
    print (p)

1
2
3
4
5

リストaの各要素をpと呼び、pをprintする

In [17]:
a=[1,2,3,4,5]

for x in a:
    print('hello')
    print('world')

hello
world
hello
world
hello
world
hello
world
hello
world

In [29]:
a=[1,2,3,4,5]

for x in a:
    print('hello')
print('world')

hello
hello
hello
hello
hello
world

:をつけると勝手にインテンドされる　pythonは字下げで有効範囲が変わる

In [26]:
list_tohoku = [5349, 5478, 5344, 4644, 4968, 6259]
for val in list_tohoku:
 print(val)

5349
5478
5344
4644
4968
6259

In [28]:
s=0

for x in a :
    s=s+x
    
s/len(a)

3.0

コンピューターに平均を教えた

In [32]:
avg_tohoku = 0.0
for val in list_tohoku:
 avg_tohoku += val
avg_tohoku /= len(list_tohoku)
print(avg_tohoku)

5340.333333333333

+= 足していく　/=名前を変える 全部終わってから割り算するために+=

In [33]:
 list_shikoku = [3148, 2991, 2966, 2457]

In [34]:
s=0
for x in list_shikoku:
    s +=x

s/len(list_shikoku)

2890.5

In [37]:
from statistics import *

In [38]:
mean(list_shikoku)

2890.5

from statistics import *
print(mean)

In [39]:
dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,
'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}
for key in dict_tohoku:
 print(key)

aomori
akita
sendai
Yamagata
fukushima
morioka

In [44]:
dic= {'A':100,'B':20,'C':3000}

In [46]:
dic['A']

100

In [47]:
for key in dic:
    print(key)

A
B
C

In [48]:
for key in dict_tohoku:
    print(dict_tohoku[key])

5349
4644
5344
4968
6259
5478

In [51]:
s=0

for x in dict_tohoku:
    print(dict_tohoku[x])
    s += dict_tohoku[x]
    
s/len(dict_tohoku)

5349
4644
5344
4968
6259
5478

5340.333333333333

まず合計を0にするのを忘れない

1,[5,4,3,2]の平均　表
2,{'A':10,'B':100,'C':1000}の値の平均　辞書
3,{10:'A',100:'B',1000*'C'}のキーの平均

In [59]:
a=[5,4,3,2]
s=0

for x in a:
    s += x
    
s/len(a)

3.5

In [56]:
mean(a)

3.5

In [60]:
a={'A':10,'B':100,'C':1000}
s=0

for x in a:
    s += a[x]

s/len(a)

370.0

In [63]:
a.values()

dict_values([10, 100, 1000])

In [64]:
mean(a.values())

370

In [65]:
s=0

for x in a.values():
    s+=x
    
s/len(a)

370.0

右側の計算

In [66]:
a={10:'A',100:'B',1000:'C'}
s=0

for x in a:
    s += x
    
s/len(a)

370.0

左側の計算